/* Main Section */
main {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #111;
  position: absolute;
  left: 7.3rem;
  width: calc(100% - 7rem);
  height: 100%;
  top: 5rem;
  background-color: var(--bg_color);
  padding: 2rem;
}

/* Anime List Section */
.anime-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fcb3b0;
  padding: 4rem;
  margin: 3rem;
  border-radius: 2rem;
  overflow: hidden;
}

.anime-list-item {
  flex-basis: 20%;
  padding: 1rem;
  box-sizing: border-box;
}

.anime-list-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 30rem;
  transition: transform 0.3s ease;
}

.anime-list-item:hover img {
  transform: scale(1.06);
}

.anime-name {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.anime-list-item:hover .anime-name {
  opacity: 1;
}

/* Hot Logo */
.hot-tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 0.5rem;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

/* See More Link */
.see-more-link {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  color: violet;
}

.see-more-bottom {
  font-size: 2rem;
  color: violet;
  text-align: center;
  margin-top: 2rem;
}

/* Propose Heading */
.section-heading {
  font-size: 2.4rem;
  margin: 2rem 1rem;
  text-align: center;
  font-weight: bold;
}

/* Slider Section */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 80%;
  margin: auto;
  background-color: #f8d7da;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.slider-img {
  border-radius: 1rem;
  width: 55rem;
  height: 45rem;
  object-fit: cover;
}

.slider-info {
  margin-top: 0.5rem;
  overflow: hidden;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.5rem;
  font-size: 1.7rem;
  height: 40rem;
  line-height: 1.6;
}

.see-now-btn {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ff0000;
  text-decoration: none;
}
